@import '../utils/variables.scss';
@import '../utils/mixins.scss';

footer {
    @include base_header_footer;

    margin-top: auto;

    & > .footer-container {
        padding: 5.965%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > span {
            color: white;
            font-size: 6vw;
        }
    }
}